@font-face {
  font-family: "SourGummy";
  src: url("./assets/fonts/SourGummy-VariableFont_wdth,wght.ttf");
}

:root {
  --dark-violet: #4e4b93;
  --violet: #a775ff;
  --light-violet: #cec7f6;
  --blue: #5491dd;
  --lightblue: #31b4bd;
  --green: #bedfbe;
  --light-green: #c8e0dc;
  --pink: #f8a0fa;
  --yellow: #e8d1bb;
}

body {
  background: linear-gradient(
    to bottom,
    var(--violet),
    var(--blue),
    var(--lightblue)
  );
  height: 100vh;
  margin: 0;
  font-family: "SourGummy", sans-serif;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to right, #fff3 1px, transparent 1px),
    linear-gradient(to bottom, #fff3 1px, transparent 1px);
  background-size: 40px 40px;
  background-repeat: repeat, repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--green);
  border-bottom: 0.15rem solid var(--dark-violet);
}

#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#logo img {
  width: 3rem;
  height: 3rem;
}

#logo h1 {
  margin: 0;
  font-size: 3rem;
  color: var(--dark-violet);
}

#reset {
  padding: 0.5rem 1rem;
  border: 0.15rem solid var(--dark-violet);
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--dark-violet);
  font-family: "SourGummy", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  pointer-events: all;
}

#reset:hover {
  background-color: var(--light-violet);
}

#reset:active {
  background-color: var(--pink);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 0.15rem solid var(--dark-violet);
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--dark-violet);
  font-family: "SourGummy", sans-serif;
  font-size: 1.5rem;
  width: 60rem;
  margin: 0 1rem;
  pointer-events: all;
}

.formline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formline label {
  text-align: right;
}

#form input,
#form select {
  padding: 0.5rem;
  border: 0.15rem solid var(--dark-violet);
  border-radius: 5px;
  background-color: var(--light-violet);
  color: var(--dark-violet);
  font-family: "SourGummy", sans-serif;
  font-size: 1.5rem;
}

#form input {
  width: 40rem;
}

#form select {
  width: 41.2rem;
}

#form button {
  padding: 0.5rem 1rem;
  border: 0.15rem solid var(--dark-violet);
  border-radius: 5px;
  background-color: var(--violet);
  color: var(--light-violet);
  font-family: "SourGummy", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  pointer-events: all;
}

#form button:hover {
  background-color: var(--green);
  color: var(--dark-violet);
}

#form button:active {
  background-color: var(--pink);
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}